<% provide(:title, "Contact") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p> If you want to know furthermore about our company then feel free to contact us</p>
  </body>
</html>
